:root {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--text-font-family, Roboto), "Arial", sans-serif;
    padding: 3.5rem 2.5rem 2.5rem 2.5rem;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}



.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

#banner {
    margin-bottom: 4rem;
}